body {
    margin: 0px 50px
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cards {
    margin: 10px 0px;
}

.cards:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    /* border: 1px solid #cccccc; */
    background-color: white;
    z-index: 10;
    /* cursor: pointer; */
}

.search-bar {
    margin: 20px 0;
}

.search-bar input {
    width: 600px;
    height: 20px;
}

.search-bar button {
    margin: 0 10px;
    height: 20px;
}